.ts-view{
    background-color: #F06600;
}

.styleHeader{
    font-size: 30px;
    color: #F9F5BA;
    font-weight:900;
}

.backBtn{
    background-color:none;
}
#personalInfo {

}

label{
 color: #371D10;
 }

button {
    background-color: #371D10;
    color: #F9F5BA;
    height:30px;  
}